<div class="bootstrap-style">
    <nav class="container-fluid menu-sistel navbar navbar-expand-lg" ng-style="{background: layout.color_fondo.color,color : layout.color_fuente.color}">
        <a class="navbar-brand bootstrap-style" ng-show="layout.visibilidad_logo">{{layout.marca_menu}}</a>
        
        <button class="navbar-toggler" type="button" ng-click="overlapCollapsedMenu()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" ng-style="{background:  layout.color_fondo.color,color : layout.color_fuente.color}">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav">
                <li class="nav-item" ng-repeat="menu in layout.objetos_menu" ng-mouseenter="hoverEnterEvent($event)" ng-mouseleave="hoverExitEvent($event)" ng-show="menu.visible" ng-class="{dropdown: 'menu.objetos_submenu > 0'}" ng-initialize="hover = false">
                    <!-- OPCIÓN SIN SUBMENÚS -->
                    <a class="nav-link hover-effected" ng-show="menu.objetos_submenu.length == 0" ng-click="navigate(this.menu);">
                        <i class="lui-icon lui-icon--{{menu.icono}} mr-2"></i>
                        {{menu.titulo}}
                    </a>
                    
                    <!-- OPCIÓN CON SUBMENÚS -->
                    <a ng-show="menu.objetos_submenu.length > 0" class="nav-link dropdown-toggle hover-effected bootstrap-style"  role="button" id="{{$index + '-dropdown'}}" data-toggle="dropdown">
                        <i class="lui-icon lui-icon--{{menu.icono}} mr-2"></i>    
                        {{menu.titulo}}
                    </a>
                    <!-- Desplegable -->
                    <ul class="dropdown-menu collapse" aria-labelledby="{{$index + '-dropdown'}}" ng-show="menu.objetos_submenu.length > 0" ng-style="{background:  layout.color_fondo.color,color : layout.color_fuente.color}">
                        <li class="hover-effected bootstrap-style submenu-option" ng-repeat="submenu in menu.objetos_submenu" ng-click="navigate(this.submenu);hoverExitEvent($event);" ng-mouseenter="hoverEnterEvent($event)" ng-mouseleave="hoverExitEvent($event)"><a>{{submenu.titulo_submenu}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>